name: Publish Release

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version'
        required: true
        type: string
      fabric-1-21-1:
        description: '1.21.1 Fabric'
        required: true
        type: boolean

jobs:
  publish-to-modrinth:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Zip fabric/1.21.1
        uses: vimtor/action-zip@v1.2
        with:
          files: modrinth/fabric/1.21.1
          dest: OptimumFuse ${{ inputs.version }}+fabric.1.21.1.mrpack

      - name: Upload to Github
        uses: actions/upload-artifact@v4
        with:
          name: Modrinth Releases
          path: ${{ github.workspace }}/*.mrpack

      - if: ${{ inputs.fabric-1-21-1 }}
        name: Publish fabric/1.21.1
        uses: Kir-Antipov/mc-publish@v3.3
        with:
          modrinth-id: nQYjpo27
          modrinth-featured: true
          modrinth-token: ${{ secrets.MODRINTH_TOKEN }}

          files: |
            ${{ github.workspace }}/*fabric.1.21.1.mrpack

          name: OptimumFuse ${{ inputs.version }}+fabric.1.21.1
          version: ${{ inputs.version }}+fabric.1.21.1
          version-type: release
          changelog-file: modrinth/fabric/1.21.1/CHANGELOG.md

          loaders: |
            fabric
          game-versions: |
            1.21.1
          game-version-filter: releases

          retry-attempts: 2
          retry-delay: 10000
          fail-mode: fail

  publish-to-github:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - if: ${{ inputs.fabric-1-21-1 }}
        name: Mrpack fabric/1.21.1
        uses: vimtor/action-zip@v1.2
        with:
          files: modrinth/fabric/1.21.1
          dest: OptimumFuse ${{ inputs.version }}+fabric.1.21.1.mrpack

      - name: Publish Packs
        uses: Kir-Antipov/mc-publish@v3.3
        with:
          github-tag: ${{ inputs.version }}
          github-commitish: main
          github-token: ${{ secrets.GITHUB_TOKEN }}

          files: |
            ${{ github.workspace }}/*.mrpack
          name: OptimumFuse ${{ inputs.version }}
          version: ${{ inputs.version }}
          version-type: release
          changelog-file: modrinth/fabric/1.21.1/CHANGELOG.md

          retry-attempts: 2
          retry-delay: 10000
          fail-mode: fail
